* {
    font-family: Arial, sans-serif;
}

:root {
    --backgroundcolor: #090212;
    --textcolor: #ffffff;
    --containercolor: #110C1D;
    --bordercolor: #1E1A2E
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

/* == Navigation's style == */

header {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li a {
    display: block;
    color: var(--textcolor);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1E1A2E;
}

/* == Chart's style ==  */

#dailyUsageChartCanvas {
    width: 100%;
    height: auto;
    max-width: 350px;
    
}

#weeklyUsageChartCanvas {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.usageContainer {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;
    background-color: var(--containercolor);
    border: 2px solid var(--bordercolor);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0 auto;
}

#daily .usageContainer h4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 0;
    width: 100%;
}

#weekly .usageContainer {
    height: 250px;
}

#weekly .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 180px;
}

/* == App's list style ==  */

.appList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.appCard {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.appIcon {
    width: 52px;
    height: 52px;
    clip-path: circle(50%);
}

.appInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.appName,
.appTime {
    margin: 0;
    padding: 0;
}

/* == Config Style == */

#appSelect {
    appearance: none;
    width: 150px;
    height: 30px;
    color: var(--textcolor);
    background-color: var(--backgroundcolor);
    border-radius: 8px;
    border: 2px solid var(--bordercolor);
    font-size: 1em;
    padding-left: 20px;
}

.appOptions {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    background-color: var(--containercolor);
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #6C63FF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}