* {
    font-family: Arial, sans-serif;
}
body {
    background-color: #090212;
    color: #ffffff;
}

/* todo Navigation's style */

/* == Chart's style ==  */

#dailyUsageChartCanvas {
    width: 350px !important;
    height: 350px !important;
    margin-bottom: 20px;
}

#weeklyUsageChartCanvas {
    width: 375px !important;
    height: 150px !important;
    margin-bottom: 20px;
}

.usageContainer {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;
    background-color: #110C1D;
    border: 2px solid #1E1A2E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 auto;
}

#daily .usageContainer h4 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 0;
    width: 100%;
}

#weekly .usageContainer {
    height: 250px;
}

#weekly .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 170px;
}

/* == App's list style ==  */
.appList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.appCard {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.appIcon {
    width: 52px;
    height: 52px;
    clip-path: circle(50%);
}

.appInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.appName,
.appTime {
    margin: 0;
    padding: 0;
}